// Imports
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

// Font
$bodyFont: Inter, sans-serif;

$lightWeight: 300;
$medWeight: 500;
$heavyWeight: 700;

$bodySize: 3.2rem;

// Color
$darkBlue: hsl(240, 38%, 20%);
$greyBlue: hsl(240, 18%, 77%);
